<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SWR</title>
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="PRZ_LOGO" img src="http://w.prz.edu.pl/thumb/GcdkwuAx9CA3YQcDUOEyt6IH8JIx4JJzo2LBMgezZ9Lgcg,1/pl/core_settings/BAE9Ne1RBfAdl,header_logo_transparent.png" alt="PRZ LOGO" />
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                 <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: white" })</li>
                    <li>@Html.ActionLink("Panel użytkownika", "UserPanel", "Home", null, new { style = "color: white" })</li>
                    <li>@Html.ActionLink("Kalendarz", "Calendar", "Home", null, new { style = "color: white" })</li>
                    <li>@Html.ActionLink("Wiadomości", "About", "Home", null, new { style = "color: white" })</li>
                    <li id="notify"><button class="btn btn-primary"  type="button">
                         Powiadomienia <span class="badge">69</span>
                        </button></li>
                </ul>
            </div>
            </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Politechnika Rzeszowska</p>
        @Html.ActionLink("Kontakt", "Contact", "Home", null, new { style = "color: white" })
        
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
