<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SWR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="PRZ_LOGO" img src="http://w.prz.edu.pl/thumb/GcdkwuAx9CA3YQcDUOEyt6IH8JIx4JJzo2LBMgezZ9Lgcg,1/pl/core_settings/BAE9Ne1RBfAdl,header_logo_transparent.png" alt="PRZ LOGO" />
                </div>
                <!--@Html.ActionLink("System Wspomagania Rekrutacji", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { style = "color: white"})</li>
                    <li>@Html.ActionLink("Informacje", "About", "Home", null, new { style = "color: white" })</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home", null, new { style = "color: white" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Politechnika Rzeszowska</p>
        </footer>
    
</body>
</html>
